body {
    margin: 0;
    position: relative;
    overflow: hidden;

    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#visual-canvas, #visual-container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#visual-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#maps-container {
    margin: 0;
    padding: 0;
    position: absolute;
    /* width: calc(100vw - 410px); */
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#maps-container .li {
    position: relative;
    padding: 0;
    margin: 10px;

    flex: 0;
}

#maps-container .li canvas {
    border: 1px solid rgba(255, 0, 0, .25);

    -moz-box-shadow: 0 0 1em rgba(255, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 1em rgba(255, 0, 0, 0.35);
    box-shadow: 0 0 1em rgba(255, 0, 0, 0.35);

    border-radius: 10px;

    -webkit-transition: box-shadow .85s ease-out;
    transition: box-shadow .85s ease-out;
}

#maps-container .li.loading canvas,
#visual-canvas.loading,
.loading canvas {
    -moz-box-shadow: 0 0 4em rgba(255, 174, 66, 0.8);
    -webkit-box-shadow: 0 0 4em rgba(255, 174, 66, 0.8);
    box-shadow: 0 0 4em rgba(255, 174, 66, 0.8);
}

#maps-container .li.shadow:not(.loading) canvas,
#maps-container .li:last-child:not(.loading) canvas {
    -moz-box-shadow: 0 0 2em rgba(0, 255, 0, 0.7);
    -webkit-box-shadow: 0 0 2em rgba(0, 255, 0, 0.7);
    box-shadow: 0 0 2em rgba(0, 255, 0, 0.7);
}

#maps-container .li span {
    background: rgba(255, 255, 255, 0.25);
    position: absolute;
    display: none;
    top: calc(100% - 12px);
    
    padding: 3px 6px;
    width: 120px;
    margin-left: -60px;
    left: 50%;

    -webkit-border-radius: 6px;
    border-radius: 6px;
    
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

#maps-container .li {
    z-index: 100;
}

#maps-container .li:hover {
    z-index: 400;
}

#maps-container .li:hover span {
    display: block;
    z-index: 600;
}

#controls-container {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 410px;
    max-height: 100vh;
    top: 0;
    right: 0;
}

#maps-container .li.zoom-current.shadow:not(.loading),
#maps-container .li.zoom-current:last-child:not(.loading),
#maps-container .li.zoom-current {
    z-index: 400;
}

#maps-container .li.zoom-current.shadow:not(.loading) canvas,
#maps-container .li.zoom-current:last-child:not(.loading) canvas,
#maps-container .li.zoom-current canvas {
    -moz-box-shadow: 0 0 4em 2em rgba(76, 159, 226, 0.836) !important;
    -webkit-box-shadow: 0 0 4em 2em rgba(76, 159, 226, 0.836) !important;
    box-shadow: 0 0 4em 2em rgba(76, 159, 226, 0.836) !important;

    z-index: 600;
}