div.osx-dock .li {
    -webkit-transition: all .15s linear, box-shadow .85s ease-out;
    transition: all .15s linear, box-shadow .85s ease-out;
    
    /* transition-property: -webkit-transform margin; */
    /* -webkit-transition-property: -webkit-transform margin; */
}

div.osx-dock .li canvas {
    display: block;
    
    
    -webkit-transform: scale(0.85);
    transform: scale(0.85);

    -webkit-transform-origin: center left;
    transform-origin: center left;
    
    -webkit-transition: all .15s linear, box-shadow .85s ease-out;
    transition: all .15s linear, box-shadow .85s ease-out;
    
    /* transition-property: -webkit-transform margin; */
    /* -webkit-transition-property: -webkit-transform margin; */
    /* -webkit-box-reflect: below 2px; */
    /* -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25))); */
}

div.osx-dock .li:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 200;
}

div.osx-dock .li:hover canvas {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

div.osx-dock .li.nearby {
    margin-top: 9px;
    margin-bottom: 9px;
    z-index: 100;
}

div.osx-dock .li.nearby canvas {
    -webkit-transform: scale(0.93);
    transform: scale(0.93);
}

div.osx-dock .li span {
    background: rgba(255, 255, 255, 0.25);
    position: absolute;
    display: none;
    top: 80px;
    
    padding: 3px 6px;
    width: 120px;
    margin-left: -66px;
    left: 50%;

    -webkit-border-radius: 6px;
    border-radius: 6px;
    
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

div.osx-dock .li:hover span {
    display: block;
    z-index: 400;
}