#maps-container.osx-dock .li {
    margin: 0;

    -webkit-transition: all .15s linear, box-shadow .85s ease-out;
    transition: all .15s linear, box-shadow .85s ease-out;
    
    /* transition-property: -webkit-transform margin; */
    /* -webkit-transition-property: -webkit-transform margin; */
}

#maps-container.osx-dock .li canvas {
    display: block;
    
    
    -webkit-transform: scale(0.85);
    transform: scale(0.85);

    -webkit-transform-origin: center left;
    transform-origin: center left;
    
    -webkit-transition: all .15s linear, box-shadow .85s ease-out;
    transition: all .15s linear, box-shadow .85s ease-out;
    
    /* transition-property: -webkit-transform margin; */
    /* -webkit-transition-property: -webkit-transform margin; */
    /* -webkit-box-reflect: below 2px; */
    /* -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25))); */
}

#maps-container.osx-dock .li:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 200;
}

#maps-container.osx-dock .li:hover canvas {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#maps-container.osx-dock .li.nearby {
    margin-top: 9px;
    margin-bottom: 9px;
    z-index: 100;
}

#maps-container.osx-dock .li.nearby canvas {
    -webkit-transform: scale(0.93);
    transform: scale(0.93);
}